<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',
      filename='pic/logo.ico')}}">
    <title>rabbitQA</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
      filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',
      filename='css/style2.css')}}">
    <script type="text/javascript" src="{{url_for('static',
      filename='js/jquery-2.2.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',
      filename='js/bootstrap.min.js')}}"></script>
</head>

<body scroll="no">
<div id="all" class="c_all">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">rabbitQA</div>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/MashiMaroLjc/rabbitQA">github</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#about">about</a></li>
                </ul>
            </div>
    </nav>

    <div class="s_div">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group  input-group-lg">
                <input type="text" class="form-control" placeholder="Input your sentence"
                       autocomplete="off" id="sentence">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" onclick="query()"
                          data-toggle="modal" data-target="#result">Query</button>
                  <button class="btn btn-primary" type="button" id="codemode"
                  >代码模式</button>
                </span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <input value="normal" id="mode" style="display:none;"/>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">About</h3>
                </div>
                <div class="modal-body">
                    <p>
                        rabbitQA是一个利用NLP相关技术和传统字符串处理等技术进行对搜索引擎的结果进行解析和归纳的问答系统
                    </p>

                    <p>
                        使用方法:
                        </br>
                    <ul>
                        <li>在首页输入框中输入你想要询问的话题</li>
                        <li>点击查询</li>
                        <li>在弹出框内获取结果</li>
                    </ul>

                    </p>

                    <p>
                        更多资料你可以访问rabbitQA的<a herf="https://github.com/MashiMaroLjc/dudulu">github</a>
                        </br>
                        本项目全部权利归&copy;<a herf="javascript:void(0)">fat rabbit</a>所有
                    </p>
                    <p>


                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="result" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel2">Result</h3>
                </div>
                <div class="modal-body">
                    <div class="list-group" id="answer">
                        <a href="javascript:void(0)" class="list-group-item">
                            <strong>Your sentence:</strong>&nbsp;&nbsp;<span id="sen_model"></span>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item">
                            <strong>status:</strong>&nbsp;&nbsp;<span id="stu_model"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</body>
<script type="text/javascript">
  //更改背景
  $('#all').css({
      "position": "absolute",
      "height": function() {
        return $(document).height();
      } (),
      "width": function() {
        return $(document).width();
      } (),
      "background-size": "100%"
    });

  $("#codemode").click(function(){
        var mode = $("#mode")
        if(mode.val() == "normal"){
            $(this).text("已选择代码模式");
            mode.val("code");
        }else{
            $(this).text("代码模式");
            mode.val("normal");
        }

  })
  var get_elem_text = function(text){
  //返回要渲染的格式字符串
    var t = "<a href=\"javascript:void(0)\" class=\"list-group-item\" tag=\"answer\"><strong>Answer:</strong>&nbsp;&nbsp;<span>"+text+"</span></a>"
    return t;
  }



  var query = function(){
    var sentence_obj = $("#sentence")
    var sub_sententce = sentence_obj.val()
    var all_sententce = sentence_obj.val()
    if(all_sententce.length<1){
      $("#stu_model").text("Error!  Your sentence cannot be empty")
      return 
    }
    if(sub_sententce.length>15){
        // 句子太长，只展示部分
      sub_sententce = sub_sententce.substr(0,15) + "……"
    }
    //移除原有的元素
    $(".list-group-item").each(function(){
      var that=$(this);
      if(that.attr("tag")=="answer"){
            that.remove()
      }
    })
    $("#sen_model").text(sub_sententce)
    $("#stu_model").text("Please wait……")
    var mode = $("#mode")
    var url = "";
    if(mode.val()=="normal"){
       url = "/dialogue";
    }else{
        url = "/code";
    }
    $.ajax({
      url:url,
      type: "POST",
      data: JSON.stringify({                     
            "text":all_sententce,  
            "past":[]// 注意不要在此行增加逗号  
      }),  
      contentType: "application/json; charset=utf-8",  
      dataType: "json",  
      success:function(data,stata){
        try{
          if(stata=="success"){
            console.log("data:",data)
            var json_obj = data //JSON.parse(data)
            
            if(json_obj["status"] == 0){
              var ans = json_obj["ans"]

              var time = json_obj["time"]
              $("#stu_model").text("Query successful.Cost Time:" + time)

              //增加元素
              var ans_list = ans.split("<sentence>");
              for(var a in ans_list){
                var elem_text = get_elem_text(ans_list[a])
                $("#answer").append(elem_text)
              }

            }else{
              var error_info = json_obj["info"]
              $("#stu_model").text("Query error: " + error_info)
            }
          }else{
            $("#stu_model").text("Error!your can look detail on console.")
            console.log("Ajax successful,but the stata is : " + stata)
          }  
        }catch(e){
          $("#stu_model").text("Error!your can look detail on console.")
          console.log("Ajax successful,but a exception was thrown: " + e)
        }
  
      },
      error:function(XMLHttpRequest, textStatus, errorThrown) {
        $("#stu_model").text("Error!your can look detail on console.")
        console.log("Ajax error: " + errorThrown)
      }
    })
  }

</script>

</html>